{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
{% endblock %}
{% block javascripts %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth'
                });
                calendar.render();
            });
        </script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        

        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          locale:'fr',
          timeZone: 'Europe/Paris',
          headerToolbar: {
            left: 'prev,next',
            center: 'title',
            right: ''
          },
          events:
                {{ data|raw }},
        });
        calendar.render();
      });

    </script>
{% endblock %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="calendar" id='calendar'>
    </div>

{% endblock %}