{% extends 'base.html.twig' %}

{% block title %}New PosteTwo{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/poste.css') }}">
{% endblock %}

{% block body %}
    <hr class="hr">
    <h1 class="titre">Ajouter une réservation Poste 2</h1>

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {{ include('poste_two/_form.html.twig') }}
    <hr class="hr">

    <a href="{{ path('app_reservation') }}" class="btnAction">Retour</a>
{% endblock %}
