{% extends 'base.html.twig' %}

{% block title %}New PosteOne{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/poste.css') }}">
{% endblock %}

{% block body %}
    <hr class="hr">
    <h1 class="titre">Ajouter une réservation Poste 1</h1>

    {{ include('poste_one/_form.html.twig') }}
    <hr class="hr">

    <a href="{{ path('app_reservation') }}" class="btnAction">Retour</a>
{% endblock %}
