<form method="post" action="{{ path('app_poste_three_delete', {'id': poste_three.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ poste_three.id) }}">
    <button class="btn">Delete</button>
</form>
